$light-blue: #81b3d2;

$blue: #669ec0;

$dark-blue: #5496bd;

$gray: #cacaca;

$light-brown: #766357;

$brown: #604e43;

$dark-brown: #503e33;

$blue-outline: rgba(#81b3d2, 0.7);

$desktop: (min-width: 1200px);
