.map__container {
  width: auto;
  height: 593px;
  overflow: hidden;
  background-color: #e9ecde;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}


.map__img {
  flex-basis: auto;
  height: 593px;
}
