.social {
  width: 156px;
}


.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}


.social__list-item {
  flex-basis: auto;
  width: 46px;
  height: 48px;
  margin-right: 3px;
  margin-left: 3px;
}


.social__item-link {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  background-color: $light-blue;
  text-decoration: none;
  position: relative;

  &:focus {
    outline: 2px solid $blue-outline;
    outline-offset: 2px;
  }

  &:hover,
  &:focus {
    background-color: $blue;
    transition-property: background-color;
    transition-duration: .1s;
  }

  &:active {
    background-color: $dark-blue;
    outline: none;
  }

  &:active .social__icon-path {
    fill-opacity: 0.3;
  }
}


.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
